@import "variables.styl"

:root
  --bg-color $bg-color
  --fg-color $fg-color
  --active-bg-color $active-bg-color
  --active-fg-color $active-fg-color
  --text-color $text-color
  --line-height $line-height

*,
*::before,
*::after
  box-sizing border-box

::selection
  background var(--active-fg-color)
  color #fff

::-moz-selection
  background var(--active-fg-color)
  color #fff

body
  margin 0
  font-size 14px
  line-height var(--line-height)
  font-weight 400

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 600

input,
button,
textarea
  box-sizing content-box
  height calc(var(--line-height) * 1em)
  border 2px solid var(--fg-color)
  padding 0 .5em
  background none
  color var(--fg-color)
  line-height inherit
  vertical-align middle
  font inherit
  box-shadow none !important
  border-radius 2px
  transition opacity .3s, border-color .3s, color .3s, background-color .3s

  &::-moz-focus-inner
    border 0

  &:focus
    outline none

  &:active
    opacity .8

textarea
  height auto

input[type="text"],
input[type="number"]
  width 100px
  text-align center

  &:focus
    border-color var(--active-fg-color)

  &::placeholder
    color var(--aux-color)

input[type="number"]
  -moz-appearance textfield

::-webkit-inner-spin-button
  display none

input[type="submit"],
button
  background var(--fg-color)
  color var(--bg-color)
  user-select none
  cursor pointer

  &:hover
    background var(--active-fg-color)
    border-color var(--active-fg-color)

  &:focus
    border-color var(--active-fg-color)

:disabled
  opacity .5
  pointer-events none

form
  user-select none
