@import "variables.styl"

*,
*::before,
*::after
  box-sizing border-box

::selection
  background $theme-color
  color #fff

body
  margin 0
  font-size 14px
  line-height $line-height
  font-weight 400

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 600

input,
button
  box-sizing content-box
  height $line-height * 1em
  border 2px solid $normal-color
  padding 0 .5em
  background none
  color $normal-color
  line-height inherit
  vertical-align middle
  font inherit
  box-shadow none !important
  border-radius 2px

  &::-moz-focus-inner
    border 0

  &:focus
    outline none

input[type="text"],
input[type="number"]
  width 100px
  text-align center
  border 2px solid $aux-color

  &::-webkit-inner-spin-button
    display none

  &:focus
    border-color $normal-color

input[type="submit"],
input :not([type]),
button
  background $normal-color
  color #fff
  user-select none
  cursor pointer

  &:hover
    background $primary-color
    border-color $primary-color

  &:focus
    border-color $primary-color

:disabled
  opacity .5
